In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm

In [2]:
np.random.seed(1)
temp = np.random.randint(100,300,5)/10
day = [i for i in range(1,6)]
keep = [i for i in range(25,30)]
df1 = pd.DataFrame({'day':day,'temp':temp, 'keep':keep})
df1

   day  temp  keep
0    1  13.7    25
1    2  24.0    26
2    3  17.2    27
3    4  23.7    28
4    5  23.3    29

In [3]:
def lag_feature(df, lags, index_col, col_to_lag):
    tmp = df[[index_col, col_to_lag]]
    for i in lags:
        shifted = tmp.copy()
        shifted.columns = [index_col, col_to_lag+'_lag_'+str(i)]
        shifted[index_col] += i
        df = pd.merge(df, shifted, on=[lag_col], how='left')
    return df

In [4]:
lags = [1,2]
lag_feature(df1,lags,'day','temp')

   day  temp  keep  temp_lag_1  temp_lag_2
0    1  13.7    25         NaN         NaN
1    2  24.0    26        13.7         NaN
2    3  17.2    27        24.0        13.7
3    4  23.7    28        17.2        24.0
4    5  23.3    29        23.7        17.2