In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame({'A': [1, 1, 2, 2],'B': [1, 2, 3, 4],'C': np.random.randn(4)})
df

   A  B         C
0  1  1 -0.640245
1  1  2  0.495262
2  2  3 -0.728875
3  2  4 -1.599446

In [12]:
df.groupby('A')['C'].sum().reset_index()

   A         C
0  1 -0.144984
1  2 -2.328321

In [11]:
df.groupby('A').agg({'C':'sum'}).reset_index()

   A         C
0  1 -0.144984
1  2 -2.328321

In [2]:
item = np.random.randint(1,8,7)
sale = np.random.randint(1,25,len(item))
df1 = pd.DataFrame({'item':item,'sale':sale})
df1['sale'] = df1['sale'].median()
df1

   item  sale
0     1  13.0
1     1  13.0
2     2  13.0
3     6  13.0
4     7  13.0
5     6  13.0
6     7  13.0

In [3]:
item = [1,2,3,4,5]
sale = [7,6,5,4,3]
df2 = pd.DataFrame({'item':item,'sale':sale})
df2

   item  sale
0     1     7
1     2     6
2     3     5
3     4     4
4     5     3

In [4]:
df1 = df1.set_index("item")
df1.update(df2.set_index("item"))
df1 = df1.reset_index()
df1

   item  sale
0     1   7.0
1     1   7.0
2     2   6.0
3     6  13.0
4     7  13.0
5     6  13.0
6     7  13.0

In [5]:
# Returns the boolean for if found values.
df1.item.isin(df2.item)

0     True
1     True
2     True
3    False
4    False
5    False
6    False
Name: item, dtype: bool

In [6]:
# Retains the rows where the values were found
df1.loc[df1.item.isin(df2.item)]

   item  sale
0     1   7.0
1     1   7.0
2     2   6.0

In [7]:
# Retains the row which were not found
# Replaces the 'sale' values from the index and not 'item'
# NaN if the index is not there
# That's why the code is wrong.
df1.loc[df1.item.isin(df2.item), ['sale']] = df2[['sale']]
df1

   item  sale
0     1   7.0
1     1   6.0
2     2   5.0
3     6  13.0
4     7  13.0
5     6  13.0
6     7  13.0